ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-style: normal;
  color: currentColor;
}

h1, h2, h3, h4, h5, h6, p, li {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Transforming into border-box */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  max-width: 480px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.about {
  padding-top: 60px;
  padding-bottom: 42px;
  background-color: #84A178;
  outline: 1px solid red;
}
@media screen and (min-width: 768px) {
  .about {
    padding-bottom: 48.12px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-bottom: 60px;
  }
}

.about__label {
  margin-bottom: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2222222222;
  text-align: center;
  text-transform: uppercase;
  color: #FCFCFC;
}
@media screen and (min-width: 768px) {
  .about__label {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.2272727273;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .about__label {
    font-size: 30px;
    line-height: 1.2333333333;
  }
}

.about__title {
  margin-bottom: 31.95px;
  font-family: "Seymour One", sans-serif;
  font-size: 30px;
  line-height: 1.2666666667;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FCFCFC;
}
@media screen and (min-width: 768px) {
  .about__title {
    margin-bottom: 72px;
    font-size: 34px;
    line-height: 1.2647058824;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    margin-bottom: 82px;
    font-size: 36px;
    line-height: 1.25;
  }
}

.about__image {
  position: relative;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 300.13px;
}
@media screen and (max-width: 767px) {
  .about__image {
    max-width: 279.3px;
  }
}
@media screen and (min-width: 768px) {
  .about__image {
    width: 336px;
    height: 355.88px;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about__image {
    width: 500px;
    height: 529px;
  }
}

.about__image::before {
  position: relative;
  top: 0px;
  display: block;
  width: 100%;
  height: 278.25px;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(248, 210, 78, 0.7)), to(rgba(248, 210, 78, 0.7))), #D9D9D9;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
  -webkit-box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
          box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 140.182px;
}
@media screen and (max-width: 767px) {
  .about__image::before {
    max-width: 278.19px;
  }
}
@media screen and (min-width: 768px) {
  .about__image::before {
    width: 334.65px;
    height: 330px;
    -webkit-box-shadow: 0px 5.30813px 19.9055px rgba(153, 114, 23, 0.25);
            box-shadow: 0px 5.30813px 19.9055px rgba(153, 114, 23, 0.25);
    border-radius: 165.879px;
  }
}
@media screen and (min-width: 1200px) {
  .about__image::before {
    width: 500px;
    height: 500px;
    -webkit-box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
            box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
    border-radius: 250px;
  }
}

.about__image::after {
  position: absolute;
  top: 21.88px;
  display: block;
  width: 100%;
  height: 278.25px;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../images/about-img-1_sm.png);
}
@media screen and (max-width: 767px) {
  .about__image::after {
    max-width: 278.19px;
  }
}
@media screen and (min-width: 768px) {
  .about__image::after {
    width: 334.65px;
    height: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .about__image::after {
    width: 490px;
    height: 490px;
    border-radius: 1852.2px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about__image::after {
    background-image: url(../images/about-img-1_sm@2x.png);
  }
}
@media screen and (min-width: 481px) {
  .about__image::after {
    background-image: url(../images/about-img-2_md.png);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .about__image::after {
    background-image: url(../images/about-img-2_md@2x.png);
  }
}
@media screen and (min-width: 769px) {
  .about__image::after {
    background-image: url(../images/about-img-3_lg.png);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .about__image::after {
    background-image: url(../images/about-img-3_lg@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .about__content {
    gap: 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .about__desc {
    margin-right: 105px;
  }
}

.about__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5833333333;
  text-align: center;
  color: #FCFCFC;
}
@media screen and (min-width: 768px) {
  .about__text {
    text-align: left;
    letter-spacing: 0.04em;
  }
}
@media screen and (max-width: 767px) {
  .about__text:last-of-type {
    display: none;
  }
}
.about__text:not(:last-of-type) {
  margin-bottom: 4px;
  line-height: 1.75;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  .about__text:not(:last-of-type) {
    margin-bottom: 8px;
    line-height: 1.9166666667;
  }
}
@media screen and (min-width: 1200px) {
  .about__text:first-of-type {
    font-size: 16px;
    line-height: 1.75;
  }
}
@media screen and (min-width: 1200px) {
  .about__text {
    font-size: 14px;
    line-height: 1.9285714286;
    letter-spacing: 0.04em;
  }
}

.about__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.82px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 34px;
  min-width: 164px;
  height: 42px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2857142857;
  text-align: center;
  color: #131313;
  background-color: #F8D24E;
  border-radius: 10px;
  border: 1px solid transparent;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .about__btn {
    margin-left: 0;
    margin-right: auto;
    margin-top: 48px;
  }
}
.about__btn:hover {
  background-color: #0A8817;
}
.about__btn:focus {
  background-color: #0A8817;
  color: #FCFCFC;
}
.about__btn:focus .about__icon {
  stroke: #FCFCFC;
}
.about__btn:disabled {
  background-color: #ABABAB;
}

.about__icon {
  fill: transparent;
  stroke: #131313;
  -webkit-transition-property: stroke;
  transition-property: stroke;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.about__btn--pointer {
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .backdrop {
    overflow: hidden;
  }
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop--is-hidden modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  padding: 28px;
  width: 280px;
  height: 459px;
  background-color: #FCFCFC;
  border: 2px solid #F8D24E;
  border-radius: 10px;
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 568px;
    height: 449px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

.modal__btn-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FCFCFC;
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal__btn-close {
    top: 20px;
    right: 20px;
  }
}
.modal__btn-close:hover, .modal__btn-close:focus {
  fill: #F8D24E;
}

.modal__icon {
  width: 16px;
  height: 16px;
}

.modal__title {
  margin-bottom: 20px;
  font-family: "Seymour One", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 32px;
  }
}

.modal__video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 224px;
  height: 199px;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .modal__video {
    width: 448px;
    height: 205px;
    margin-bottom: 32px;
  }
}

.modal__text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.4285714286;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .modal__text {
    font-size: 16px;
    line-height: 1.375;
  }
}/*# sourceMappingURL=main.css.map */